{% extends 'base.html' %}

{% block title %}Можно изменить ваш пароль{% endblock %}

{% block content %}


  <div class="container-small">
    <h3>Изменение пароля</h3>
    <div class="form-group">

        <form method="post"  enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn button-green">Изменить</button>
             <br><br><br>
            <a class="btn button-green" onClick="javascript:history.go(-1);" role="button">Назад</a>
            <a href="/">
                <button type="button" class="btn button-green">Домой</button>
              </a>
        </form>
      </div>
</div>

{% endblock %}