{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}


  <div class="container-small">
    <h3>User settings</h3>

    <div class="form-group">
        
        <form method="post" action="" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn button-green">Изменить</button>
   <p>
    <a href="{% url 'password_change' %}">Изменить пароль</a>
       <br>
  </p>
            <br>
            <a class="btn button-green" onClick="javascript:history.go(-1);" role="button">Назад</a>
            <a href="/">
                <button type="button" class="btn button-green">Домой</button>
              </a>
        </form>
      </div>
</div>  

{% endblock %}